<div style="width: inherit;height: inherit">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">同步任务管理</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div style="padding-top: 10px ;">
    <div class="col-md-10 col-md-offset-1" style="background: white;min-height: 500px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

